body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 40px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
